<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Success Page</title>
</head>
<body>
    <div class="main">
        <h3>The email you have entered is valid. Thank you</h3>
        <h1>Email Addresses Entered:</h1>
        <ul>
            {%for email in emails%}
            <li>
                {{email.email_ad}} {{email.created_at.strftime("%B-%d %y")}}
            </li>
            {%endfor%}
        </ul>
        <a href="/">Home</a>
    </div>
</body>
</html>